<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="AxTraxConfigTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="AxTraxConfigTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
    <userSettings>
        <AxTraxConfigTool.Properties.Settings>
            <setting name="Server" serializeAs="String">
                <value/>
            </setting>
            <setting name="Client" serializeAs="String">
                <value/>
            </setting>
            <setting name="Server Monitor" serializeAs="String">
                <value/>
            </setting>
            <setting name="LPR" serializeAs="String">
                <value/>
            </setting>
            <setting name="AxTime" serializeAs="String">
                <value/>
            </setting>
        </AxTraxConfigTool.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <AxTraxConfigTool.Properties.Settings>
            <setting name="Title" serializeAs="String">
                <value>AxTraxNG Configuration Tool</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>800</value>
            </setting>
        </AxTraxConfigTool.Properties.Settings>
    </applicationSettings>
</configuration>
