<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.serviceModel>
		<bindings>
   <netNamedPipeBinding>
    <binding name="NetNamedPipeBinding_ILprData">
     <readerQuotas maxDepth="100000" maxStringContentLength="100000" maxArrayLength="100000" maxBytesPerRead="100000" maxNameTableCharCount="100000"/>
    </binding>
    <binding name="NetNamedPipeBinding_IPushComm">
     <readerQuotas maxDepth="100000" maxStringContentLength="100000" maxArrayLength="100000" maxBytesPerRead="100000" maxNameTableCharCount="100000"/>
    </binding>
   </netNamedPipeBinding>
   <netTcpBinding>
    <binding name="NetTcpBinding_ILprData">
     <readerQuotas maxDepth="100000" maxStringContentLength="100000" maxArrayLength="100000" maxBytesPerRead="100000" maxNameTableCharCount="100000"/>
     <security mode="None">
      <transport clientCredentialType="None" protectionLevel="None"/>
      <message clientCredentialType="None"/>
     </security>
    </binding>
    <binding name="NetTcpBinding_IPushComm" maxConnections="30">
     <readerQuotas maxDepth="100000" maxStringContentLength="100000" maxArrayLength="100000" maxBytesPerRead="100000" maxNameTableCharCount="100000"/>
     <security mode="None">
      <transport clientCredentialType="None" protectionLevel="None"/>
      <message clientCredentialType="None"/>
     </security>
    </binding>
    <binding name="NetTcpBinding_IDataPooling" maxConnections="30">
     <readerQuotas maxDepth="100000" maxStringContentLength="100000" maxArrayLength="100000" maxBytesPerRead="100000" maxNameTableCharCount="100000"/>
     <security mode="None">
      <transport clientCredentialType="None" protectionLevel="None"/>
      <message clientCredentialType="None"/>
     </security>
    </binding>
   </netTcpBinding>
  </bindings>
		<client>
   <endpoint address="tcom" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IPushComm" contract="Rosslare.Musketeer.Shared.ACCSInterface.IPushComm" name="NetTcpBinding_IPushComm"/>
   <endpoint address="pcom" binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IPushComm" contract="Rosslare.Musketeer.Shared.ACCSInterface.IPushComm" name="NetNamedPipeBinding_IPushComm"/>
   <endpoint address="tpool" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IDataPooling" contract="Rosslare.Musketeer.Shared.ACCSInterface.IDataPooling" name="NetTcpBinding_IDataPooling"/>
  </client>
	</system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
