<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off">

  <variable name="AppName" value="${processname}"/>
  <variable name="LogDirectory" value="${basedir}/Logs/${assembly-version}/"/>

  <targets>
    <target name="FileLoggerAsync" xsi:type="AsyncWrapper">
    <target name="FileLogger"
            xsi:type="File"
            fileName="${LogDirectory}/${AppName}.${date:format=yyyy_MM_dd_HH_mm:cached=true}.axtraxlog"
            archiveFileName="${LogDirectory}/Archive/${AppName}.{##}.axtraxlog"
            createDirs="true"
            encoding="utf-8"
            maxArchiveFiles="56"
            archiveAboveSize="26214400"
            archiveNumbering="Rolling"
            concurrentWrites="false"
            keepFileOpen="true"
            openFileCacheTimeout="30"
            archiveOldFileOnStartup="true">
      <layout xsi:type="CsvLayout" delimiter="Tab" withHeader="true" quoting="All">
        <column name="num" layout="${counter}" />
        <column name="date" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff::culture=en-US}" />
        <column name="level" layout="${level:upperCase=true}"/>
        <column name="thread" layout="${threadid}"/>
        <column name="logger" layout="${logger}" />
        <column name="callsite" layout="${callsite:className=true:fileName=true:methodName=true:includeSourcePath=false:cleanNamesOfAnonymousDelegates=true}" />
        <column name="trackingId" layout="${mdlc:item=trackingId}" />
        <column name="message" layout="${message}" />
        <column name="exception" layout="${exception:format=ToString:innerFormat=ToString:maxInnerExceptionLevel=5}"/>
      </layout>
    </target>
    </target>

    <target name="ExceptionLogger"
            xsi:type="FilteringWrapper"
            condition="length('${exception}')>0">
              <target xsi:type="File"
                      fileName="${LogDirectory}/${AppName}.${date:format=yyyy_MM_dd_HH_mm:cached=true}.Errors.axtraxlog"
                      archiveFileName="${LogDirectory}/Archive/${AppName}.{##}.Errors.axtraxlog"
                      createDirs="true"
                      encoding="utf-8"
                      maxArchiveFiles="56"
                      archiveAboveSize="26214400"
                      archiveNumbering="Rolling"
                      concurrentWrites="false"
                      keepFileOpen="true"
                      openFileCacheTimeout="30"
                      archiveOldFileOnStartup="true">
                <layout xsi:type="CsvLayout" delimiter="Tab" withHeader="true" quoting="All">
                  <column name="num" layout="${counter}" />
                  <column name="date" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff::culture=en-US}" />
                  <column name="level" layout="${level:upperCase=true}"/>
                  <column name="thread" layout="${threadid}"/>
                  <column name="logger" layout="${logger}" />
                  <column name="callsite" layout="${callsite:className=true:fileName=true:methodName=true:includeSourcePath=false:cleanNamesOfAnonymousDelegates=true}" />
                  <column name="trackingId" layout="${mdlc:item=trackingId}" />
                  <column name="message" layout="${message}" />
                  <column name="exception" layout="${exception:format=ToString:innerFormat=ToString:maxInnerExceptionLevel=5}"/>
                  <column name="stacktrace" layout="${stacktrace:topFrames=10}" />
                </layout>
                </target>
    </target>

    <target name="NetworkInnerLoggerAsync" xsi:type="AsyncWrapper">
      <target name="NetworkInnerLogger"
           xsi:type="File"
           fileName="${LogDirectory}/${AppName}.${date:format=yyyy_MM_dd_HH_mm:cached=true}.NetworkInnerLog.axtraxlog"
           archiveFileName="${LogDirectory}/Archive/${AppName}.{##}.NetworkInnerLog.axtraxlog"
           createDirs="true"
           encoding="utf-8"
           maxArchiveFiles="56"
           archiveAboveSize="26214400"
           archiveNumbering="Rolling"
           concurrentWrites="false"
           keepFileOpen="true"
           openFileCacheTimeout="30"
           archiveOldFileOnStartup="true">
        <layout xsi:type="CsvLayout" delimiter="Tab" withHeader="true" quoting="All">
          <column name="num" layout="${counter}" />
          <column name="date" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff::culture=en-US}" />
          <column name="level" layout="${level:upperCase=true}"/>
          <column name="thread" layout="${threadid}"/>
          <column name="logger" layout="${logger}" />
          <column name="callsite" layout="${callsite:className=true:fileName=true:methodName=true:includeSourcePath=false:cleanNamesOfAnonymousDelegates=true}" />
          <column name="trackingId" layout="${mdlc:item=trackingId}" />
          <column name="message" layout="${message}" />
          <column name="exception" layout="${exception:format=ToString:innerFormat=ToString:maxInnerExceptionLevel=5}"/>
        </layout>
      </target>
    </target>

    <target name="BioLoggerAsync" xsi:type="AsyncWrapper">
      <target name="BioLogger"
              xsi:type="File"
              fileName="${LogDirectory}/${AppName}.${date:format=yyyy_MM_dd_HH_mm:cached=true}.BioLog.axtraxlog"
              archiveFileName="${LogDirectory}/Archive/${AppName}.{##}.BioLog.axtraxlog"
              createDirs="true"
              encoding="utf-8"
              maxArchiveFiles="56"
              archiveAboveSize="26214400"
              archiveNumbering="Rolling"
              concurrentWrites="false"
              keepFileOpen="true"
              openFileCacheTimeout="30"
              archiveOldFileOnStartup="true">
        <layout xsi:type="CsvLayout" delimiter="Tab" withHeader="true" quoting="All">
          <column name="num" layout="${counter}" />
          <column name="date" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff::culture=en-US}" />
          <column name="level" layout="${level:upperCase=true}"/>
          <column name="thread" layout="${threadid}"/>
          <column name="logger" layout="${logger}" />
          <column name="callsite" layout="${callsite:className=true:fileName=true:methodName=true:includeSourcePath=false:cleanNamesOfAnonymousDelegates=true}" />
          <column name="trackingId" layout="${mdlc:item=trackingId}" />
          <column name="message" layout="${message}" />
          <column name="exception" layout="${exception:format=ToString:innerFormat=ToString:maxInnerExceptionLevel=5}"/>
        </layout>
      </target>
    </target>

    <target name="EventLogLoggger"
            xsi:type="EventLog"
            source="Rosslare"
            log="Application"
            onOverflow="Truncate">
            <layout xsi:type="JsonLayout">
                  <attribute name="processname" layout="${processname:fullName=true}" />
                  <attribute name="num" layout="${counter}" />
                  <attribute name="date" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff::culture=en-US}" />
                  <attribute name="level" layout="${level:upperCase=true}"/>
                  <attribute name="thread" layout="${threadid}"/>
                  <attribute name="logger" layout="${logger}" />
                  <attribute name="callsite" layout="${callsite:className=true:fileName=true:methodName=true:includeSourcePath=false:cleanNamesOfAnonymousDelegates=true}" />
                  <attribute name="trackingId" layout="${mdlc:item=trackingId}" />
                  <attribute name="message" layout="${message}" />
                  <attribute name="exception" layout="${exception:format=ToString:innerFormat=ToString:maxInnerExceptionLevel=5}"/>
                  <attribute name="stacktrace" layout="${stacktrace:topFrames=10}" />
              </layout>
    </target>

    <target name="ConsoleLoggerAsync" xsi:type="AsyncWrapper">
      <target name="ConsoleLogger"
            xsi:type="ColoredConsole"
            useDefaultRowHighlightingRules="true"
            detectConsoleAvailable="true">
        <layout xsi:type="CsvLayout" delimiter="Pipe" withHeader="false" quoting="Nothing">
          <column name="date" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff::culture=en-US}" />
          <column name="level" layout="${level:upperCase=true}"/>
          <column name="thread" layout="${threadid}"/>
          <column name="logger" layout="${logger}" />
          <column name="callsite" layout="${callsite:className=true:fileName=true:methodName=true:includeSourcePath=false:cleanNamesOfAnonymousDelegates=true}" />
          <column name="trackingId" layout="${mdlc:item=trackingId}" />
          <column name="message" layout="${message}" />
          <column name="exception" layout="${exception:format=ToString:innerFormat=ToString:maxInnerExceptionLevel=5}"/>
        </layout>
      </target>
    </target>

    <target name="NetworkLoggerAsync" xsi:type="AsyncWrapper">
      <target name="NetworkLogger"
            xsi:type="NLogViewer"
            includeSourceInfo="true"
            includeNdc="true"
            address="udp://127.0.0.1:9999"/>
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="FileLoggerAsync,NetworkLoggerAsync,ExceptionLogger,ConsoleLoggerAsync" />
    <!--<logger name="*" minlevel="Warn" writeTo="EventLogLoggger" />-->
    <logger name="Rosslare.Musketeer.Server.PanelInternalLogs" minlevel="Trace" writeTo="NetworkInnerLoggerAsync" />
    <logger name="*.Bio*" minlevel="Trace" writeTo="BioLoggerAsync" />
  </rules>
</nlog>
