<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Rosslare.Musketeer.Client.Properties.InternalSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
			<section name="Rosslare.Musketeer.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
			<section name="Rosslare.Veritrax.Client.Properties.Strings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
			<section name="Rosslare.Veritrax.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
   <section name="Rosslare.Musketeer.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
   <section name="Rosslare.Musketeer.Client.InternalSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<userSettings>
		<Rosslare.Musketeer.Client.Properties.InternalSettings>
			<setting name="EventType" serializeAs="String">
				<value>37</value>
			</setting>
			<setting name="IntervalType" serializeAs="String">
				<value>33</value>
			</setting>
		</Rosslare.Musketeer.Client.Properties.InternalSettings>
		<Rosslare.Musketeer.Client.Properties.Settings>
   <setting name="MinComPort" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="MaxComPort" serializeAs="String">
    <value>36</value>
   </setting>
   <setting name="ServerTimeout" serializeAs="String">
    <value>5000</value>
   </setting>
   <setting name="RowsPerPage" serializeAs="String">
    <value>30</value>
   </setting>
   <setting name="Operator" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="MD08ComPort" serializeAs="String">
    <value />
   </setting>
   <setting name="FloatingTile" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="UhfComPort" serializeAs="String">
    <value />
   </setting>
   <setting name="EmailNorthAmerica" serializeAs="String">
    <value>support.na@rosslaresecurity.com</value>
   </setting>
   <setting name="EmailEurope" serializeAs="String">
    <value>support.eu@rosslaresecurity.com</value>
   </setting>
   <setting name="EmailLatinAmerica" serializeAs="String">
    <value>support.la@rosslaresecurity.com</value>
   </setting>
   <setting name="EmailMiddleEast" serializeAs="String">
    <value>support.apac@rosslaresecurity.com</value>
   </setting>
   <setting name="EmailChina" serializeAs="String">
    <value>support.cn@rosslaresecurity.com</value>
   </setting>
   <setting name="EmailIndia" serializeAs="String">
    <value>support.in@rosslaresecurity.com</value>
   </setting>
   <setting name="SupportName" serializeAs="String">
    <value />
   </setting>
   <setting name="SupportEmail" serializeAs="String">
    <value />
   </setting>
  </Rosslare.Musketeer.Client.Properties.Settings>
		<Rosslare.Veritrax.Client.Properties.Strings>
			<setting name="strDoors" serializeAs="String">
				<value>Doors</value>
			</setting>
			<setting name="strReaders" serializeAs="String">
				<value>Readers</value>
			</setting>
			<setting name="strInputs" serializeAs="String">
				<value>Inputs</value>
			</setting>
			<setting name="strOutputs" serializeAs="String">
				<value>Outputs</value>
			</setting>
			<setting name="strLinks" serializeAs="String">
				<value>Links</value>
			</setting>
		</Rosslare.Veritrax.Client.Properties.Strings>
		<Rosslare.Veritrax.Client.Properties.Settings>
			<setting name="IsHTTPCommunication" serializeAs="String">
				<value>false</value>
			</setting>
			<setting name="TcpPort" serializeAs="String">
				<value>1001</value>
			</setting>
			<setting name="ServerAddress" serializeAs="String">
				<value>127.0.0.1</value>
			</setting>
			<setting name="MinComPort" serializeAs="String">
				<value>1</value>
			</setting>
			<setting name="MaxComPort" serializeAs="String">
				<value>36</value>
			</setting>
			<setting name="IsReopen" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="EventType" serializeAs="String">
				<value>7</value>
			</setting>
			<setting name="IntervalType" serializeAs="String">
				<value>33</value>
			</setting>
		</Rosslare.Veritrax.Client.Properties.Settings>
	</userSettings>
	<applicationSettings>
  <Rosslare.Musketeer.Client.Properties.Settings>
   <setting name="OperatorSession" serializeAs="String">
    <value>True</value>
   </setting>
  </Rosslare.Musketeer.Client.Properties.Settings>
  <Rosslare.Musketeer.Client.InternalSettings>
			<setting name="EventType" serializeAs="String">
				<value>7</value>
			</setting>
		</Rosslare.Musketeer.Client.InternalSettings>
	</applicationSettings>
  <system.diagnostics>
    <sources>
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="FileLog">
            <filter type="" />
          </add>
          <add type="System.Diagnostics.ConsoleTraceListener" name="ConsoleLog">
            <filter type="" />
          </add>
        </listeners>
      </source>
      <source propagateActivity="true" name="System.ServiceModel" switchValue="Warning,ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <trace>
      <listeners>
        <!--<add initializeData="C:\AxtraxNetClient.log" type="System.Diagnostics.TextWriterTraceListener"
          name="FileLog">
          <filter type="" />
        </add>-->
      </listeners>
    </trace>
  </system.diagnostics>
 <system.serviceModel>
   <bindings>
     <netNamedPipeBinding>
       <binding name="NetNamedPipeBinding_ILprData">
         <readerQuotas maxDepth="100000" maxStringContentLength="100000" maxArrayLength="100000" maxBytesPerRead="100000" maxNameTableCharCount="100000"/>
       </binding>
       <binding name="NetNamedPipeBinding_IPushComm" maxConnections="30" maxBufferSize="200480000" maxReceivedMessageSize="200480000" maxBufferPoolSize="0" sendTimeout="00:05:00" receiveTimeout="00:05:00">
         <readerQuotas maxDepth="1000000" maxStringContentLength="1000000" maxArrayLength="2500000" maxBytesPerRead="1000000" maxNameTableCharCount="1000000"/>
       </binding>
       <binding name="NetNamedPipeBinding_IDataPooling" maxConnections="30" maxBufferSize="200480000" maxReceivedMessageSize="200480000" maxBufferPoolSize="0" sendTimeout="00:05:00" receiveTimeout="00:05:00">
         <readerQuotas maxDepth="1000000" maxStringContentLength="1000000" maxArrayLength="2500000" maxBytesPerRead="1000000" maxNameTableCharCount="1000000"/>
       </binding>
     </netNamedPipeBinding>
     <netTcpBinding>
       <binding name="NetTcpBinding_ILprData" maxBufferPoolSize="0">
         <readerQuotas maxDepth="1000000" maxStringContentLength="1000000" maxArrayLength="1000000" maxBytesPerRead="1000000" maxNameTableCharCount="1000000"/>
         <security mode="None">
           <transport clientCredentialType="None" protectionLevel="None"/>
           <message clientCredentialType="None"/>
         </security>
       </binding>
       <binding name="NetTcpBinding_IPushComm" maxConnections="30"  maxBufferSize="200480000" maxReceivedMessageSize="200480000" maxBufferPoolSize="0" sendTimeout="00:05:00" receiveTimeout="00:05:00">
         <readerQuotas maxDepth="1000000" maxStringContentLength="1000000" maxArrayLength="2500000" maxBytesPerRead="1000000" maxNameTableCharCount="1000000"/>
         <security mode="None">
           <transport clientCredentialType="None" protectionLevel="None"/>
           <message clientCredentialType="None"/>
         </security>
       </binding>
       <binding name="NetTcpBinding_IDataPooling" maxConnections="30" maxBufferSize="200480000" maxReceivedMessageSize="200480000" maxBufferPoolSize="0" sendTimeout="00:05:00" receiveTimeout="00:05:00">
         <readerQuotas maxDepth="1000000" maxStringContentLength="1000000" maxArrayLength="2500000" maxBytesPerRead="1000000" maxNameTableCharCount="1000000"/>
         <security mode="None">
           <transport clientCredentialType="None" protectionLevel="None"/>
           <message clientCredentialType="None"/>
         </security>
       </binding>
     </netTcpBinding>
   </bindings>
	 <behaviors>
		 <endpointBehaviors>
			 <behavior name="maxObjectGrafh">
				 <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
			 </behavior>
		 </endpointBehaviors>
	 </behaviors>
   <client>
     <endpoint address="net.tcp://localhost:1003/Wcf_Service/WCFCommService/tlpr" binding="netTcpBinding"  contract="Rosslare.Musketeer.Shared.ACCSInterface.ILprData" name="NetTcpBinding_ILprData" bindingConfiguration="NetTcpBinding_ILprData"/>

     <!--<endpoint address="net.tcp://localhost:1001/Wcf_Service/WCFCommService/tpush" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IPushComm" contract="Rosslare.Musketeer.Shared.ACCSInterface.IPushComm" name="NetTcpBinding_IPushComm"/>
      <endpoint address="net.tcp://localhost:1001/Wcf_Service/WCFCommService/tpool" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IDataPooling" contract="Rosslare.Musketeer.Shared.ACCSInterface.IDataPooling" name="NetTcpBinding_IDataPooling"/>-->

     <endpoint address="net.pipe://localhost/Wcf_Service/WCFCommService/ppush" binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IPushComm" contract="Rosslare.Musketeer.Shared.ACCSInterface.IPushComm" name="NetNamedPipeBinding_IPushComm"/>
     <endpoint address="net.pipe://localhost/Wcf_Service/WCFCommService/ppool" binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IDataPooling" contract="Rosslare.Musketeer.Shared.ACCSInterface.IDataPooling" name="NetNamedPipeBinding_IDataPooling"/>
   </client>
 </system.serviceModel>
  <system.runtime.serialization>
    <dataContractSerializer>
      <declaredTypes>
        <add type="System.Globalization.CultureInfo, mscorlib,Version=2.0.0.0, Culture = neutral, PublicKeyToken=b77a5c561934e089">
          <knownType type="System.Globalization.GregorianCalendar,mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
        </add>
      </declaredTypes>
    </dataContractSerializer>
  </system.runtime.serialization>
<startup useLegacyV2RuntimeActivationPolicy="True"><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
