<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Rosslare.Musketeer.Server.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Rosslare.Musketeer.Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.diagnostics>
    <sources>
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="FileLogger">
            <filter type="" />
          </add>
          <add name="ConsoleLogger">
            <filter type="" />
          </add>
          <add name="nlog">
            <filter type="" />
          </add>
        </listeners>
      </source>
      <!--<source propagateActivity="true" name="System.ServiceModel" switchValue="Warning,ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceLogger"/>
        </listeners>
      </source>-->
      <!--<source name="System.Net" switchName="NetSwitch" tracemode="includehex" maxdatasize="1024">
        <listeners>
          <add name="FileLogger">
            <filter type="" />
          </add>
        </listeners>
      </source>-->
      <!--<source name="System.Net.Sockets" switchName="NetSwitch">
        <listeners>
          <add name="FileLogger">
            <filter type="" />
          </add>
        </listeners>
      </source>-->
      <!--<source name="System.ServiceModel.MessageLogging" switchValue="All">
        <listeners>
          <add name="ServiceLogger"/>
          <add name="nlog" />
        </listeners>
      </source>-->
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
      <add name="NetSwitch" value="Warning"/>
    </switches>
    <sharedListeners>
      <!--<add name="FileLogger" type="System.Diagnostics.TextWriterTraceListener" initializeData="Logs\AxtraxNetServer.log">
          <filter type="" />
        </add>-->
      <add name="ConsoleLogger" type="System.Diagnostics.ConsoleTraceListener">
        <filter type="" />
      </add>
      <add name="nlog" type="NLog.NLogTraceListener, NLog">
        <filter type="" />
      </add>
      <!--<add name="ServiceLogger" type="System.Diagnostics.XmlWriterTraceListener" initializeData="ServiceDebug\ServiceTrace.svclog">
        <filter type="" />
      </add>-->
    </sharedListeners>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <!--<add name="FileLogger"/>-->
        <add name="ConsoleLogger"/>
        <add name="nlog" />
        <remove name="Default"/>
      </listeners>
    </trace>
  </system.diagnostics>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <system.serviceModel>
    <diagnostics>
   <messageLogging logEntireMessage="true"  logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" />
  </diagnostics>
    <services>
      <service name="Wcf_Service.WCFCommService" behaviorConfiguration="serviceBehavior">
        <endpoint address="tpush" binding="netTcpBinding" contract="Rosslare.Musketeer.Shared.ACCSInterface.IPushComm" name="NetTcpBinding_IPushComm" bindingConfiguration="NetTcpBinding_IPushComm"/>
        <endpoint address="ppush" binding="netNamedPipeBinding" contract="Rosslare.Musketeer.Shared.ACCSInterface.IPushComm" name="NetNamedPipeBinding_IPushComm" bindingConfiguration="NetNamedPipeBinding_IPushComm"/>
        <endpoint address="tpool" binding="netTcpBinding" contract="Rosslare.Musketeer.Shared.ACCSInterface.IDataPooling" name="NetTcpBinding_IDataPooling" bindingConfiguration="NetTcpBinding_IDataPooling"/>
        <endpoint address="ppool" binding="netNamedPipeBinding" contract="Rosslare.Musketeer.Shared.ACCSInterface.IDataPooling" name="NetNamedPipeBinding_IDataPooling" bindingConfiguration="NetNamedPipeBinding_IDataPooling"/>

        <host>
          <baseAddresses>
            <add baseAddress="net.pipe://localhost/Wcf_Service/WCFCommService"/>
            <add baseAddress="net.tcp://localhost:1001/Wcf_Service/WCFCommService"/>
          </baseAddresses>
        </host>
      </service>
      <service name="Wcf_Service.LprService" behaviorConfiguration="serviceBehavior">
        <endpoint address="tlpr" binding="netTcpBinding" contract="Rosslare.Musketeer.Shared.ACCSInterface.ILprData" name="NetTcpBinding_ILprData" bindingConfiguration="NetTcpBinding_ILprData"/>
        <endpoint address="plpr" binding="netNamedPipeBinding" contract="Rosslare.Musketeer.Shared.ACCSInterface.ILprData" name="NetNamedPipeBinding_ILprData" bindingConfiguration="NetNamedPipeBinding_ILprData"/>

        <host>
          <baseAddresses>
            <add baseAddress="net.pipe://localhost/Wcf_Service/LprService"/>
            <add baseAddress="net.tcp://localhost:1003/Wcf_Service/LprService"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="serviceBehavior">
          <!-- To avoid disclosing metadata information,
          set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata />
          <!-- To receive exception details in faults for debugging purposes,
          set the value below to true.  Set to false before deployment
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="True"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netNamedPipeBinding>
        <binding name="NetNamedPipeBinding_ILprData">
          <readerQuotas maxDepth="100000" maxStringContentLength="100000" maxArrayLength="100000" maxBytesPerRead="100000" maxNameTableCharCount="100000"/>
        </binding>
        <binding name="NetNamedPipeBinding_IPushComm" maxConnections="30" maxBufferSize="200480000" maxReceivedMessageSize="200480000" maxBufferPoolSize="0" sendTimeout="00:05:00" receiveTimeout="00:05:00">
          <readerQuotas maxDepth="1000000" maxStringContentLength="1000000" maxArrayLength="2500000" maxBytesPerRead="1000000" maxNameTableCharCount="1000000"/>
        </binding>
        <binding name="NetNamedPipeBinding_IDataPooling" maxConnections="30" maxBufferSize="200480000" maxReceivedMessageSize="200480000" maxBufferPoolSize="0" sendTimeout="00:05:00" receiveTimeout="00:05:00">
          <readerQuotas maxDepth="1000000" maxStringContentLength="1000000" maxArrayLength="2500000" maxBytesPerRead="1000000" maxNameTableCharCount="1000000"/>
        </binding>
      </netNamedPipeBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_ILprData" maxBufferPoolSize="0">
          <readerQuotas maxDepth="1000000" maxStringContentLength="1000000" maxArrayLength="1000000" maxBytesPerRead="1000000" maxNameTableCharCount="1000000"/>
          <security mode="None">
            <transport clientCredentialType="None" protectionLevel="None"/>
            <message clientCredentialType="None"/>
          </security>
        </binding>
        <binding name="NetTcpBinding_IPushComm" maxConnections="30"  maxBufferSize="200480000" maxReceivedMessageSize="200480000" maxBufferPoolSize="0" sendTimeout="00:05:00" receiveTimeout="00:05:00">
          <readerQuotas maxDepth="1000000" maxStringContentLength="1000000" maxArrayLength="2500000" maxBytesPerRead="1000000" maxNameTableCharCount="1000000"/>
          <security mode="None">
            <transport clientCredentialType="None" protectionLevel="None"/>
            <message clientCredentialType="None"/>
          </security>
        </binding>
        <binding name="NetTcpBinding_IDataPooling" maxConnections="30" maxBufferSize="200480000" maxReceivedMessageSize="200480000" maxBufferPoolSize="0" sendTimeout="00:05:00" receiveTimeout="00:05:00">
          <readerQuotas maxDepth="1000000" maxStringContentLength="1000000" maxArrayLength="2500000" maxBytesPerRead="1000000" maxNameTableCharCount="1000000"/>
          <security mode="None">
            <transport clientCredentialType="None" protectionLevel="None"/>
            <message clientCredentialType="None"/>
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:1003/Wcf_Service/LprService/tlpr" binding="netTcpBinding"  contract="Rosslare.Musketeer.Shared.ACCSInterface.ILprData" name="NetTcpBinding_ILprData" bindingConfiguration="NetTcpBinding_ILprData"/>
      <!--<endpoint address="net.pipe://localhost/Wcf_Service/LprService/plpr" binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_ILprData" contract="Rosslare.Musketeer.Shared.ACCSInterface.ILprData" name="NetNamedPipeBinding_ILprData" />-->

      <!--<endpoint address="net.tcp://localhost:1001/Wcf_Service/WCFCommService/tpush" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IPushComm" contract="Rosslare.Musketeer.Shared.ACCSInterface.IPushComm" name="NetTcpBinding_IPushComm"/>
      <endpoint address="net.tcp://localhost:1001/Wcf_Service/WCFCommService/tpool" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IDataPooling" contract="Rosslare.Musketeer.Shared.ACCSInterface.IDataPooling" name="NetTcpBinding_IDataPooling"/>-->

      <!--<endpoint address="net.pipe://localhost/Wcf_Service/WCFCommService/ppush" binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IPushComm" contract="Rosslare.Musketeer.Shared.ACCSInterface.IPushComm" name="NetNamedPipeBinding_IPushComm"/>
      <endpoint address="net.pipe://localhost/Wcf_Service/WCFCommService/ppool" binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IDataPooling" contract="Rosslare.Musketeer.Shared.ACCSInterface.IDataPooling" name="NetNamedPipeBinding_IDataPooling"/>-->
    </client>
  </system.serviceModel>
  <system.runtime.serialization>
    <dataContractSerializer>
      <declaredTypes>
        <add type="System.Globalization.CultureInfo, mscorlib,Version=2.0.0.0, Culture = neutral, PublicKeyToken=b77a5c561934e089">
          <knownType type="System.Globalization.GregorianCalendar,mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
        </add>
      </declaredTypes>
    </dataContractSerializer>
  </system.runtime.serialization>
  <userSettings>
    <Rosslare.Musketeer.Server.Properties.Settings>
      <setting name="ConfigModeTimeout" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="ConfigModeEnable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WiznetInactivityTimer" serializeAs="String">
        <value>60</value>
      </setting>
    </Rosslare.Musketeer.Server.Properties.Settings>
  </userSettings>
  <appSettings>
    <add key="Metrics.CompletelyDisableMetrics" value="true"/>
    <add key="Metrics.GlobalContextName" value="$env.MachineName$.AxTraxNG"/>
    <add key="Metrics.HttpListener.HttpUriPrefix" value="http://*:1234/"/>
    <add key="Metrics.CSV.Path" value="Logs\Metrics\CSV\"/>
    <add key="Metrics.CSV.Interval.Seconds" value="10"/>
    <add key="Metrics.Reports.ToleratedConsecutiveFailures" value="3"/>
  </appSettings>
</configuration>
