<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <netNamedPipeBinding>
        <binding name="NetNamedPipeBinding_ILprData">
          <readerQuotas maxDepth="100000" maxStringContentLength="100000" maxArrayLength="100000" maxBytesPerRead="100000" maxNameTableCharCount="100000" />
        </binding>
      </netNamedPipeBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_ILprData" maxConnections="30" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferPoolSize="0" sendTimeout="00:05:00" receiveTimeout="00:05:00" >
          <readerQuotas maxDepth="100000" maxStringContentLength="100000" maxArrayLength="100000" maxBytesPerRead="100000" maxNameTableCharCount="100000" />
          <security mode="None">
            <transport clientCredentialType="None" protectionLevel="None" />
            <message clientCredentialType="None" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:1003/Wcf_Service/LprService/tlpr" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ILprData" contract="Rosslare.Musketeer.Shared.ACCSInterface.ILprData" name="NetTcpBinding_ILprData" />
      <!--<endpoint address="net.pipe://localhost/Wcf_Service/LprService/plpr" binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_ILprData" contract="Rosslare.Musketeer.Shared.ACCSInterface.ILprData" name="NetNamedPipeBinding_ILprData" />-->
    </client>
  </system.serviceModel>
</configuration>
